(
    dialogues: {
        918655561745181211: {
            3052536066844523070: [
                (
                    contents: {
                        "eng": "What the hell is even that?",
                        "jpn": "あれはいったい何なんだ？ ",
                    },
                ),
            ],
            7957301441166361400: [
                (
                    contents: {
                        "eng": "Grrr.....",
                        "jpn": "うーん…",
                    },
                    affects: {
                        6499684068401589489: 7957301441166361400,
                    },
                ),
            ],
        },
        6499684068401589489: {
            2290091270614255425: [
                (
                    contents: {
                        "eng": "Good morning! I am {{hero_name}}.",
                        "jpn": "おはようございます！{{hero_name}}です。",
                    },
                    affects: {
                        918655561745181211: 7957301441166361400,
                        8391887828555666002: 3052536066844523070,
                    },
                ),
                (
                    contents: {
                        "eng": "Good afternoon! I am {{hero_name}}",
                        "jpn": "こんにちは！{{hero_name}}です。",
                    },
                    affects: {
                        918655561745181211: 7957301441166361400,
                        8391887828555666002: 2290091270614255425,
                    },
                ),
            ],
            7957301441166361400: [
                (
                    contents: {
                        "eng": "Hey! Chill! Chill!",
                    },
                    affects: {
                        918655561745181211: 3052536066844523070,
                        6499684068401589489: 2290091270614255425,
                    },
                ),
            ],
        },
        8391887828555666002: {
            2290091270614255425: [
                (
                    contents: {
                        "eng": "Good afternoon!",
                        "jpn": "こんにちは！",
                    },
                    affects: {
                        6499684068401589489: 2290091270614255425,
                    },
                ),
            ],
            3052536066844523070: [
                (
                    contents: {
                        "eng": "It\'s afternoon already.",
                        "jpn": "もう午後だ。",
                    },
                    affects: {
                        6499684068401589489: 2290091270614255425,
                    },
                ),
            ],
        },
    },
    class_name_map: {
        "Hero": 6499684068401589489,
        "Monster": 918655561745181211,
        "Villager": 8391887828555666002,
    },
    state_name_map: {
        "Attack": 7957301441166361400,
        "Disagree": 3052536066844523070,
        "Greeting": 2290091270614255425,
    },
)
