(
    dialogues: {
        1: {
            1: [
                (
                    contents: {
                        "eng": "Good morning! I am {{hero_name}}.",
                    },
                    affects: {
                        2: 3,
                        3: 2,
                    },
                ),
                (
                    contents: {
                        "eng": "Good afternoon! I am {{hero_name}}",
                    },
                    affects: {
                        2: 1,
                        3: 2,
                    },
                ),
            ],
            2: [
                (
                    contents: {
                        "eng": "Hey! Chill! Chill!",
                    },
                    affects: {
                        3: 3,
                    },
                ),
            ],
        },
        2: {
            3: [
                (
                    contents: {
                        "eng": "It\'s afternoon already.",
                    },
                    affects: {},
                ),
            ],
            1: [
                (
                    contents: {
                        "eng": "Good afternoon!",
                    },
                    affects: {},
                ),
            ],
        },
        3: {
            1: [
                (
                    contents: {},
                    affects: {},
                ),
            ],
            3: [
                (
                    contents: {
                        "eng": "What the hell is even that?",
                    },
                    affects: {},
                ),
            ],
            2: [
                (
                    contents: {
                        "eng": "Grrr.....",
                    },
                    affects: {
                        1: 2,
                    },
                ),
            ],
        },
    },
)
