(
    dialogues: {
        6499684068401589489: {
            6881880072390552419: [
                (
                    contents: {
                        "eng": "Good morning! I am {{hero_name}}.",
                    },
                    affects: {
                        8391887828555666002: 3052536066844523070,
                    },
                ),
                (
                    contents: {
                        "eng": "Good afternoon! I am {{hero_name}}",
                    },
                    affects: {
                        8391887828555666002: 6881880072390552419,
                    },
                ),
            ],
            7957301441166361400: [
                (
                    contents: {
                        "eng": "Hey! Chill! Chill!",
                    },
                    affects: {
                        918655561745181211: 3052536066844523070,
                    },
                ),
            ],
        },
        8391887828555666002: {
            3052536066844523070: [
                (
                    contents: {
                        "eng": "It\'s afternoon already.",
                    },
                    affects: {},
                ),
            ],
            6881880072390552419: [
                (
                    contents: {
                        "eng": "Good afternoon!",
                    },
                    affects: {},
                ),
            ],
        },
        918655561745181211: {
            3052536066844523070: [
                (
                    contents: {
                        "eng": "What the hell is even that?",
                    },
                    affects: {},
                ),
            ],
            6881880072390552419: [
                (
                    contents: {
                        "eng": "Grrr.....",
                    },
                    affects: {
                        6499684068401589489: 7957301441166361400,
                    },
                ),
            ],
        },
    },
)
